{% extends "charityorghomebasepage.html" %} {% block content %} {% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        background-color: rgb(243, 235, 233);
    }
    
    .emp-profile {
        padding: 3%;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 0.5rem;
        background: #fff;
    }
    
    .profile-img {
        text-align: center;
    }
    
    .profile-img img {
        width: 70%;
        height: 100%;
    }
    
    .profile-img .file {
        position: relative;
        overflow: hidden;
        margin-top: -20%;
        width: 70%;
        border: none;
        border-radius: 0;
        font-size: 15px;
        background: #212529b8;
    }
    
    .profile-img .file input {
        position: absolute;
        opacity: 0;
        right: 0;
        top: 0;
    }
    
    .profile-head h5 {
        color: #333;
    }
    
    .profile-head h6 {
        color: #0062cc;
    }
    
    .profile-edit-btn {
        border: none;
        border-radius: 1.5rem;
        width: 70%;
        padding: 2%;
        font-weight: 600;
        color: #6c757d;
        cursor: pointer;
    }
    
    .proile-rating {
        font-size: 12px;
        color: #818182;
        margin-top: 5%;
    }
    
    .proile-rating span {
        color: #495057;
        font-size: 15px;
        font-weight: 600;
    }
    
    .profile-head .nav-tabs {
        margin-bottom: 5%;
    }
    
    .profile-head .nav-tabs .nav-link {
        font-weight: 600;
        border: none;
    }
    
    .profile-head .nav-tabs .nav-link.active {
        border: none;
        border-bottom: 2px solid #0062cc;
    }
    
    .profile-work {
        padding: 14%;
        margin-top: -15%;
    }
    
    .profile-work p {
        font-size: 12px;
        color: #818182;
        font-weight: 600;
        margin-top: 10%;
    }
    
    .profile-work a {
        text-decoration: none;
        color: #495057;
        font-weight: 600;
        font-size: 14px;
    }
    
    .profile-work ul {
        list-style: none;
    }
    
    .profile-tab label {
        font-weight: 600;
    }
    
    .profile-tab p {
        font-weight: 600;
        color: #0062cc;
    }
    
    #servicediv1 {
        background-color: rgb(243, 235, 233);
        border-radius: 10px;
    }
    
    #servicediv2 {
        background-color: rgb(243, 235, 233);
        border-radius: 10px;
    }
    
    #servicediv1:hover {
        background-color: white;
    }
    
    #servicediv2:hover {
        background-color: white;
    }
    
    a {
        text-decoration: none;
        color: tomato;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        font-family: "Oswald"
    }
    
    #box {
        border-radius: 0px 0px 50px 50px;
        box-shadow: 4px 3px rgb(161, 156, 156);
    }
</style>



<br>


<div class="container emp-profile" id="box">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="" /> -->
                    <!-- <img src="/app6/media/{{charity.picture}}" alt="" /> -->
                    <img src="/media/{{charity.picture}}" alt="" />

                    <div class="file btn btn-lg btn-primary">
                        <a href="changecharityprofile" class="edit" style="color:white;">
                            <p> Change Photo </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h4>
                        {{charity.charityName}}<span>  <a href="changecharityname" class="fa fa-pencil-square ms-3 edit"></a> </span>
                    </h4>

                    <br>

                    <p>
                        <h6> <b> {{charity.typeofCharity}}<span>  <a href="changetypeofcharity" class="fa fa-pencil-square ms-3 edit"></a> </span></b></h6>
                    </p>



                    <p>
                        <h6> <b> {{charity.email}}<span>  <a href="changecharityemail" class="fa fa-pencil-square ms-3 edit"></a> </span></b></h6>
                    </p>


                    <br><br>
                    <div class="col-md-">
                        <p class="btn btn-warning fa fa-phone"> <b>{{charity.phoneNumber}}  <span>  <a href="changecharityphone" class="fa fa-pencil ms-3 edit"   ></a> </span></b></p>
                        <p class="btn btn-success fa fa-whatsapp"> <b>{{charity.whatsapp}}  <span>  <a href="changecharitywhatsapp" class="fa fa-pencil ms-3 edit"   ></a> </span></b></p>
                    </div>


                </div>
            </div>
            <br>
            <div class="col-md-2">
                <a class="btn btn-success fa fa-plus" href="charityprofileedit" role="button">Update Profile</a><br><br>
                <a class="btn btn-success fa fa-edit" href="charityorghomechangepassword" role="button">Change Password </a>
                <br>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <h4> {{charity.charityname}}</h4>


                    <p>
                        <h6>Username: <b> {{charity.userName}}<span>  <a href="changecharityusername" class="fa fa-pencil-square ms-3 edit"></a> </span></b></h6>
                    </p>

                    <p>
                        <h6>
                            Address: <b> {{charity.address}}<span>  <a href="changecharityaddress" class="fa fa-pencil-square ms-3 edit"></a> </span></b></h6>
                    </p>
                    <p>
                        <h6>
                            About : <b> {{charity.aboutme}}<span>  <a href="changecharityabout" class="fa fa-pencil-square ms-3 edit"></a> </span></b></h6>
                    </p>

                </div>
            </div>
            <div class="col-md-8">

                <div>
                    <h2 class="">
                        <!-- Our Services -->
                        <p>
                            <h2>
                                <b> Our Services</b> <span>  <a href="changecharityservices" class="fa fa-pencil-square ms-3 edit"></a> </span>
                            </h2>
                        </p>

                    </h2>
                </div>

                <br>
                <div class="text-dark" id="servicediv1">
                    <p class="ms-4 mr-5"> {{charity.services}}</p>
                </div>
                <br>
                <br>
            </div>


        </div>
    </form>

    <div class="text-center ms-4 mt-2 ">
        <a class="btn btn-warning fa fa-sign-out text-center" href="charityorgprofilelogout" onclick="return confirm('Are You Sure To Logout')" role="button">Logout</a>
        <br>
    </div>

</div>






<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
{% endblock %}