 {% extends "charityorghomebasepage.html" %} {% block content %} {% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
    body {
        /* background-color: rgb(243, 235, 233); */
    }
    
    .image--cover {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center left;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        font-family: "Oswald"
    }
    
    #box {
        border-radius: 0px 0px 50px 50px;
        box-shadow: 4px 3px rgb(161, 156, 156);
        background-color: rgb(242, 240, 238);
        border-style: groove;
    }
</style>



<div class="container">

    <div class="text-start ms-5 mt-4 ">

        <a class="btn btn-success fa fa-handshake" href="viewacceptdonation" role="button">Accepted donations</a>

    </div>
    {% for i in fooddonation %}

    <div class="mt-5" id="box">

        <div class="bg-success text-center text-white">
            <h4>Food Donation</h4>
        </div>


        <div class="row">
            <div class="col-sm-2 pt-5 text-center">
                <img src="/media/{{i.user.picture}}" class="image--cover">
            </div>

            <div class="col-sm-8 ">

                <br>
                <div class="text-start ms-5 text-danger">
                    <h3><b>{{i.user.username}}</b></h3>
                </div>
                <ul>


                    <p>

                        <b>food Type:</b><span>                    <i style="color: chocolate;" ></i> <b>{{i.foodType}}</b>  &nbsp;  &nbsp; -- &nbsp;  &nbsp; <b>Donate For Your</b> <b>{{i.FoodRequest.foodExpectedItem}}</b>
                   </span>

                    </p>




                    <p>
                        <b>No.Of Quantity:</b><span>                    <i  style="color: chocolate;" ></i> <b>{{i.foodQuantity}}</b>
                    </span>
                    </p>

                    <p>
                        <b>Available For:</b><span>                    <i  style="color: chocolate;" ></i>Date : <b>{{i.date}}</b>  &nbsp;  &nbsp;  &nbsp;  &nbsp; <b>Time</b> : <b>{{i.time}}</b>
                    </span>
                    </p>

                    <p>
                        <b>Address:</b><span>                    <i  style="color: chocolate;" ></i><b> {{i.address}}</b>
                    </span>
                    </p>

                    <p>
                        <b>House NO:</b><span>                    <i  style="color: chocolate;" ></i> <b>{{i.buildingNumber}}</b>
                    </span>
                    </p>

                    <p>
                        <b>Trade Mark:</b><span>                    <i  style="color: chocolate;" ></i><b>{{i.tradeMark}}</b> 
                      </span>
                    </p>


                </ul>

                <div class="text-start ms-4 mt-2 ">
                    <a class="btn btn-warning fa fa-handshake text-center " href="charityorgaccepteddon/{{i.id}}" role="button" onclick="return confirm('Are You Sure To Accept Donation')">Accept Donation</a>
                    <a class=" btn btn-info fa fa-phone text-center " href="#" role="button ">{{i.user.phone}}</a>
                    <a class="btn btn-success fa fa-whatsapp text-center " href="# " role="button ">{{i.user.whatsapp}}</a>

                </div>
                <br>
            </div>
        </div>

    </div>

    {% endfor %}
    <br> {% for i in clothingdonation %}
    <div class="mt-5" id="box">

        <div class="bg-success text-center text-white ">
            <h4>Clothing Donation</h4>
        </div>


        <div class="row ">

            <div class="col-sm-2 pt-5 text-center ">
                <img src="/media/{{i.user.picture}} " class="image--cover ">
            </div>



            <div class="col-sm-8 ">

                <br>
                <div class="text-start ms-5 text-danger ">
                    <h3><b>{{i.user.username}}</b></h3>
                </div>
                <ul>


                    <p>

                        <b>Clothig Type:</b><span>                    <i style="color: chocolate; " ></i> <b>{{i.clothingType}}</b>   &nbsp;  &nbsp; -- &nbsp;  &nbsp; <b>Donate For Your</b> <b>{{i.clothingRequest.clothingExpectedItem}}</b>
                   </span>

                    </p>




                    <p>
                        <b>No.Of Quantity:</b><span>                    <i  style="color: chocolate; " ></i><b>{{i.clothingQuantity}}</b> 
                    </span>
                    </p>

                    <p>
                        <b>Available For:</b><span>                    <i  style="color: chocolate; " ></i> Date : <b>{{i.date}} </b> &nbsp;  &nbsp;  &nbsp;  &nbsp; <b>Time</b> : <b>{{i.time}}</b>
                    </span>
                    </p>

                    <p>
                        <b>Address:</b><span>                    <i  style="color: chocolate; " ></i> <b>{{i.address}}</b>
                    </span>
                    </p>

                    <p>
                        <b>House NO:</b><span>                    <i  style="color: chocolate; " ></i><b>{{i.buildingNumber}}</b> 
                    </span>
                    </p>

                    <p>
                        <b>Trade Mark:</b><span>                    <i  style="color: chocolate; " ></i> <b>{{i.tradeMark}}</b>
                    </span>
                    </p>


                </ul>

                <div class="text-start ms-4 mt-2 ">
                    <a class="btn btn-warning fa fa-handshake text-center " href="charityorgaccepteddon/{{i.id}}" role="button" onclick="return confirm('Are You Sure To Accept Donation')">Accept Donation</a>
                    <a class="btn btn-info fa fa-phone text-center " href="# " role="button ">{{i.user.phone}}</a>
                    <a class="btn btn-success fa fa-whatsapp text-center " href="# " role="button ">{{i.user.whatsapp}}</a>

                </div>
                <br>
            </div>
        </div>

    </div>
    {% endfor %}
    <br> {% for i in medicinedonation %}

    <div class="mt-5" id="box">

        <div class="bg-success text-center text-white ">
            <h4>Medicine Donation</h4>
        </div>


        <div class="row ">
            <div class="col-sm-2 pt-5 text-center ">
                <img src="/media/{{i.user.picture}} " class="image--cover ">
            </div>

            <div class="col-sm-8 ">

                <br>
                <div class="text-start ms-5 text-danger ">
                    <h3>{{i.user.username}}</h3>
                </div>
                <ul>


                    <p>

                        <b>Medicine Type:</b><span>                    <i style="color: chocolate; " ></i> <b>{{i.medicineType}}</b>  &nbsp;  &nbsp; -- &nbsp;  &nbsp; <b>Donate For Your</b> <b>{{i.medicineRequest.medicineExpectedItem}}</b>
                   </span>

                    </p>




                    <p>
                        <b>No.Of Quantity:</b><span>                    <i  style="color: chocolate; " ></i> <b>{{i.medicineQuantity}}</b>
                    </span>
                    </p>

                    <p>
                        <b>Available For:</b><span>                    <i  style="color: chocolate; " ></i>Date : <b>{{i.date}}  &nbsp;  &nbsp;  &nbsp;  &nbsp; <b>Time</b> : <b>{{i.time}}</b>
                    </span>
                    </p>

                    <p>
                        <b>Address:</b><span>                    <i  style="color: chocolate; " ></i> <b>{{i.address}}</b>
                    </span>
                    </p>

                    <p>
                        <b>House NO:</b><span>                    <i  style="color: chocolate; " ></i> <b>{{i.buildingNumber}}</b> 
                    </span>
                    </p>

                    <p>
                        <b>Trade Mark:</b><span>                    <i  style="color: chocolate; " ></i> <b>{{i.tradeMark}}</b>
                      </span>
                    </p>


                </ul>

                <div class="text-start ms-4 mt-2 ">
                    <a class="btn btn-warning fa fa-handshake text-center" href="charityorgaccepteddon/{{i.id}}" role="button" onclick="return confirm('Are You Sure To Accept Donation')">Accept Donation</a>
                    <a class="btn btn-info fa fa-phone text-center" href="#" role="button">{{i.user.phone}}</a>
                    <a class="btn btn-success fa fa-whatsapp text-center" href="#" role="button">{{i.user.whatsapp}}</a>

                </div>
                <br>
            </div>
        </div>

    </div>

    {% endfor %}
    <br> {% for i in studymaterialdonation %}

    <div class="mt-5" id="box">

        <div class="bg-success text-center text-white ">
            <h4>Study Material Donation</h4>
        </div>


        <div class="row ">
            <div class="col-sm-2 pt-5 text-center ">
                <img src="/media/{{i.user.picture}} " class="image--cover ">
            </div>

            <div class="col-sm-8 ">

                <br>
                <div class="text-start ms-5 text-danger ">
                    <h3>{{i.user.username}}</h3>
                </div>
                <ul>


                    <p>

                        <b>Study Material Type:</b><span>                    <i style="color: chocolate; " ></i><b>{{i.studyMaterialType}}</b>   &nbsp;  &nbsp; -- &nbsp;  &nbsp; <b>Donate For Your</b><b>{{i.studyMaterialRequest.studymaterialExpectedItem}}</b> 
                   </span>

                    </p>




                    <p>
                        <b>No.Of Quantity:</b><span>                    <i  style="color: chocolate; " ></i><b>{{i.studyMaterialQuantity}}</b> 
                    </span>
                    </p>

                    <p>
                        <b>Available For:</b><span>                    <i  style="color: chocolate;" ></i>Date : <b>{{i.date}}  &nbsp;  &nbsp;  &nbsp;  &nbsp; <b>Time</b> : <b>{{i.time}}</b>
                    </span>
                    </p>

                    <p>
                        <b>Address:</b><span>                    <i  style="color: chocolate;" ></i> <b>{{i.address}}</b>
                    </span>
                    </p>

                    <p>
                        <b>House NO:</b><span>                    <i  style="color: chocolate;" ></i> <b>{{i.buildingNumber}}</b> 
                    </span>
                    </p>

                    <p>
                        <b>Trade Mark:</b><span>                    <i  style="color: chocolate;" ></i> <b>{{i.tradeMark}}</b>
                      </span>
                    </p>


                </ul>

                <div class="text-start ms-4 mt-2 ">
                    <a class="btn btn-warning fa fa-handshake text-center" href="charityorgaccepteddon/{{i.id}}" role="button" onclick="return confirm('Are You Sure To Accept Donation')">Accept Donation</a>
                    <a class="btn btn-info fa fa-phone text-center" href="#" role="button">{{i.user.phone}}</a>
                    <a class="btn btn-success fa fa-whatsapp text-center " href="#" role="button">{{i.user.whatsapp}}</a>

                </div>
                <br>
            </div>
        </div>

    </div>

    {% endfor %}

    <br> {% for i in otherdonation %}

    <div class="mt-5" id="box">

        <div class="bg-success text-center text-white">
            <h4>Other Donation</h4>
        </div>


        <div class="row ">
            <div class="col-sm-2 pt-5 text-center">
                <img src="/media/{{i.user.picture}}" class="image--cover">
            </div>

            <div class="col-sm-8 ">

                <br>
                <div class="text-start ms-5 text-danger">
                    <h3>{{i.user.username}}</h3>
                </div>
                <ul>


                    <p>

                        <b>Other Type:</b><span>                    <i style="color: chocolate;"></i><b>{{i.otherType}}</b>   &nbsp;  &nbsp; -- &nbsp;  &nbsp; <b>Donate For Your</b> <b>{{i.otherRequest.otherExpectedItem}}</b>
                   </span>

                    </p>




                    <p>
                        <b>No.Of Quantity:</b><span>                    <i  style="color: chocolate;"></i> <b>{{i.otherQuantity}}</b>
                    </span>
                    </p>

                    <p>
                        <b>Available For:</b><span>                    <i  style="color: chocolate;"></i>Date : <b>{{i.date}}  &nbsp;  &nbsp;  &nbsp;  &nbsp; <b>Time</b> : <b>{{i.time}}</b>
                    </span>
                    </p>

                    <p>
                        <b>Address:</b><span>                    <i  style="color: chocolate;"></i> <b>{{i.address}}</b>
                    </span>
                    </p>

                    <p>
                        <b>House NO:</b><span>                    <i  style="color: chocolate;"></i> <b>{{i.buildingNumber}}</b> 
                    </span>
                    </p>

                    <p>
                        <b>Trade Mark:</b><span>                    <i  style="color: chocolate;"></i> <b>{{i.tradeMark}}</b>
                      </span>
                    </p>


                </ul>

                <div class="text-start ms-4 mt-2">
                    <a class="btn btn-warning fa fa-handshake text-center" href="charityorgaccepteddon/{{i.id}}" role="button" onclick="return confirm('Are You Sure To Accept Donation')">Accept Donation</a>
                    <a class="btn btn-info fa fa-phone text-center" href="#" role="button ">{{i.user.phone}}</a>
                    <a class="btn btn-success fa fa-whatsapp text-center" href="#" role="button">{{i.user.whatsapp}}</a>

                </div>
                <br>
            </div>
        </div>

    </div>

    {% endfor %}

</div>




<script src='{% static "js/charityorghomesendreq.js " %}'></script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB " crossorigin="anonymous "></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 " crossorigin="anonymous "></script>
{% endblock %}