{% extends "charityorghomebasepage.html" %} {% block content %} {% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
    body {
        background-color: rgb(243, 235, 233);
    }
</style>

<div class="container">

    <div class="text-end ms-5 mt-2 ">

        <a class="btn btn-success fa fa-plus" href="" role="button">Edit About</a>

    </div>



    <div class="p-5 bg- text-dark ">
        <h1 class="">Our Goal</h1>
        <br>
        <p class="">The Smile Foundation is a not-for-profit organization with the mission to help health, educational, and other institutions to create a better world for The Smile Foundation. To promote this mission, we plan to: </p>


        <ul>
            <li>
                Actively educate the general public and potential donors about the specific challenges faced by The Smile Foundation – the poorest country of the European Union.
            </li>
            <br>
            <li>Cultivate relationships that lead to funding.</li>
            <br>
            <li>Create individual projects to aid specific areas of need within institutions and organizations which serve The Smile Foundation</li>
            <br>
            <li>Ensure that each individual project is approved by our board members and/or our projects committee to secure the best utilization of the available funds.</li>
            <br>
            <li>Send physical goods and equipment as opposed to money to eliminate the possibility of fraud or misappropriation. Always select the best price.</li>

        </ul>
        <br>
        <p>The Smile Foundation Board consists of highly educated and successful members of the ex-pat The Smile Foundation community. Our Board members are committed to raising awareness of the needs of the The Smile Foundation, and promoting our organization
            to secure funding for much-needed projects at various institutions serving these children.</p>
        <br>
        <p>The Smile Foundation is a non-profit, tax-exempt public charity under section 501(c)(3) of the IRS.</p>
        <br>
        <br><br>


        <h1 class="">History</h1>
        <br><br>

        <p>
            The idea forThe Smile Foundation was born in the summer of 2013, when Polina and Orlin Jordanov went to the Pirogov Emergency Hospital in Sofia, Bulgaria for an emergency visit. Polina and Orlin were moved by the poor conditions in which patients were
            treated and doctors worked at the hospital. The couple then thought of the youngest patients there – the newborns and the children, and the desire to help became overwhelming. In November of 2013, the first fundraiser was held in New York
            with overwhelming success. Dozens of Bulgarian New Yorkers came to the fundraiser, while many ex-pats sent funds from other locations in the US and England. The first shipment of much needed surgical instruments to the Pirogov Hospital pediatric
            department was sent in March 2014. Today, The Smile Foundation continues its work with the vision to improve the well-being, health and education of The Smile Foundation. Our mission is to help health, educational, and other institutions to
            create a better world for The Smile Foundation.
        </p>



    </div>

</div>






<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
{% endblock %}