{% extends "charityorghomebasepage.html" %} {% block content %} {% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
    body {
        background-color: rgb(243, 235, 233);
    }
</style>

<div class="container">




    <div class="container ">

        <br>
        <div class="ms-4 bg-danger text-center">
            <h3 class="">Jhone Doe</h3>
        </div>
        <br>
        <div>
            <ul>

                <p>

                    <b>Donation Type:</b><span>                    <i style="color: chocolate;" ></i>Food
                   </span>

                </p>


                <p>

                    <b>Donation Item:</b><span>                    <i style="color: chocolate;" ></i> Rice And Vegitebles
                   </span>

                </p>




                <p>
                    <b>No.Of Quantity:</b><span>                    <i  style="color: chocolate;" ></i> 10 Persons
                    </span>
                </p>



                <p>
                    <b>Address:</b><span>                    <i  style="color: chocolate;" ></i> Beypore, North beypore,po:arrakkinar,Calicut,kerla State

                      
                    </span>
                </p>

                <p>
                    <b>House NO:</b><span>                    <i  style="color: chocolate;" ></i> 233/455
                  </span>
                </p>



                <p>
                    <b>Trade Mark:</b><span>                    <i  style="color: chocolate;" ></i> Near BMH hospital
                  </span>
                </p>


                <p>
                    <b>Available For:</b><span>                    <i  style="color: chocolate;" ></i> 14/1/2022
                  </span>
                </p>








            </ul>
        </div>

        <div class="text-center ms-4 mt-2 ">
            <a class="btn btn-info fa fa-phone text-center" href="#" role="button">9745303779</a>
            <a class="btn btn-warning fa fa-whatsapp text-center" href="#" role="button">9745303779</a>


            <button type="submit" class="btn btn-success text-end  fa fa-heartbeat">Collected</button>

        </div>

        <br>
        <hr style="border: 3px solid red;">
    </div>





</div>






<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
{% endblock %}