 {% extends "charityorghomebasepage.html" %} {% block content %} {% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
    body {
        background-color: rgb(243, 235, 233);
    }
    
    #div1,
    #div2 {
        border-radius: 15px;
    }
</style>



<div class="container">

    <div class="text-start ms-5 mt-4 ">

        <a class="btn btn-success fa fa-plus" href="charityorgaccepteddon" role="button">Accepted donations</a>

    </div>



    <div class="container mt-5  bg-light" id="div1">


        <div class="row">
            <div class="col-sm-4 ">

                <img src="../static/images/charityprofile.jpg" class="img-fluid " alt="..." style="width:100%;">


            </div>

            <div class="col-sm-8 ">

                <br>

                <h3>Jhone doe</h3>

                <ul>


                    <p>

                        <b>food Type:</b><span>                    <i style="color: chocolate;" ></i> Rice And Vegitebles
                   </span>

                    </p>




                    <p>
                        <b>No.Of Quantity:</b><span>                    <i  style="color: chocolate;" ></i> 10 Persons
                    </span>
                    </p>

                    <p>
                        <b>Available For:</b><span>                    <i  style="color: chocolate;" ></i> 14/1/2022
                    </span>
                    </p>

                    <p>
                        <b>Address:</b><span>                    <i  style="color: chocolate;" ></i> Beypore, North beypore,po:arrakkinar,Calicut,kerla State
                    </span>
                    </p>

                    <p>
                        <b>House NO:</b><span>                    <i  style="color: chocolate;" ></i> 233/455
                    </span>
                    </p>

                    <p>
                        <b>Trade Mark:</b><span>                    <i  style="color: chocolate;" ></i> Near BMH hospital
                      </span>
                    </p>


                </ul>

                <div class="text-start ms-4 mt-2 ">
                    <a class="btn btn-warning fa fa-handshake text-center" href="#" role="button">Accept Donation</a>
                    <a class="btn btn-info fa fa-phone text-center" href="#" role="button">9745303779</a>
                    <a class="btn btn-success fa fa-whatsapp text-center" href="#" role="button">9745303779</a>

                </div>
                <br>
            </div>
        </div>

    </div>

    <div class="container  mt-5  bg-light" id="div2">


        <div class="row">
            <div class="col-sm-4 ">

                <img src="../static/images/charityprofile.jpg" class=" img-thumbnail" alt="..." style="width:100%;">


            </div>

            <div class="col-sm-8 ">

                <br>

                <h3>Olive Yew</h3>

                <ul>


                    <p>

                        <b>Cloths Type:</b><span>                    <i style="color: chocolate;" ></i> T-shirts
                   </span>

                    </p>




                    <p>
                        <b>No.Of Quantity:</b><span>                    <i  style="color: chocolate;" ></i> 5 Persons
                    </span>
                    </p>

                    <p>
                        <b>Available For:</b><span>                    <i  style="color: chocolate;" ></i> 22/2/2022
                    </span>
                    </p>

                    <p>
                        <b>Address:</b><span>                    <i  style="color: chocolate;" ></i> palazhi, thondayad,po:calicut,Calicut,kerla State
                    </span>
                    </p>

                    <p>
                        <b>House NO:</b><span>                    <i  style="color: chocolate;" ></i> 122/3345
                    </span>
                    </p>

                    <p>
                        <b>Trade Mark:</b><span>                    <i  style="color: chocolate;" ></i> Near Hilite Mall
                    </span>
                    </p>


                </ul>

                <div class="text-start ms-4 mt-2 ">
                    <a class="btn btn-warning fa fa-handshake text-center" href="#" role="button">Accept Donation</a>
                    <a class="btn btn-info fa fa-phone text-center" href="#" role="button">8089652533</a>
                    <a class="btn btn-success fa fa-whatsapp text-center" href="#" role="button">8089652533</a>

                </div>
                <br>
            </div>
        </div>

    </div>



</div>

<script src='{% static "js/charityorghomesendreq.js" %}'></script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
{% endblock %}