{% extends "charityorghomebasepage.html" %} {% block content %} {% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    body {
        background-color: white;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        font-family: "Oswald"
    }
    
    #box {
        border-radius: 0px 50px 0px 0px;
        box-shadow: 4px 3px rgb(161, 156, 156);
        background-color: antiquewhite;
        border-style: groove;
    }
</style>

<br>

<div class="container">


    <div class="text-center ms-5 mt-2 ">

        <a class="btn btn-success fa fa-plus" href="charityorghomeaddnewevents" role="button">Add New Event</a>
        <a class="btn btn-success fa fa-book" href="charityorghomeusereventsreg" role="button">User Event Registrations </a>

    </div>

    <br>

    <div>
        <h2 class="text-center bg-danger text-white" id=""> MY EVENTS</h2>
    </div>



    {% for i in events %}

    <div class="container mt-5  bg-light" id="box">

        <div class="row">


            <div class="col-4 ">

                <img src="/media/{{i.image}}" class=" img-thumbnail" alt="..." style="width:100%;">


            </div>

            <div class="col-8 ">

                <h4><b> {{i.eventname}}</b></h4>

                <ul>


                    <p>
                        <i style="color: chocolate;" class="fa fa-clock-o"></i><b>{{i.starttime}}</b> to <b>{{i.endtime}}</b>
                    </p>




                    <p>
                        <i style="color: chocolate;" class="fa fa-calendar"></i><b>{{i.date}}</b>
                    </p>

                    <p>
                        <i style="color: chocolate;" class="fa fa-map-marker"></i> <b>{{i.location}}</b>
                    </p>


                    <p>Description: <b>{{i.discription}}</b> </p>

                </ul>

                <div class="text-start mb-2">
                    <a href="charityorghomeeventdelete/{{i.id}}" class="btn btn-danger" onclick="return confirm('Are You Sure Want To Delete')">Delete Event</a>
                </div>
            </div>

        </div>

    </div>
    <br>

    <hr style="border: 3px solid red; "> {% endfor %}




</div>









<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js " integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB " crossorigin="anonymous "></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js " integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 " crossorigin="anonymous "></script>
{% endblock %}