{% extends "adminhomebasepage.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    body {
        background-color: rgb(243, 235, 233);
    }
    
    @import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
    * {
        box-sizing: border-box;
        /* border-radius: 5px; */
    }
    /* body {
        font-family: 'Libre Baskerville';
    } */
    
    .heading-primary {
        font-size: 2em;
        padding: 2em;
        text-align: center;
    }
    
    .accordion dl,
    .accordion-list {
        border: 1px solid #ddd;
    }
    
    .accordion dl:after,
    .accordion-list:after {
        content: "";
        display: block;
        height: 1em;
        width: 100%;
        background-color: tomato;
    }
    
    .accordion dd,
    .accordion__panel {
        background-color: #eee;
        font-size: 1em;
        line-height: 1.5em;
    }
    
    .accordion p {
        padding: 1em 2em 1em 2em;
    }
    
    .accordion {
        position: relative;
        background-color: #eee;
    }
    
    .container {
        max-width: 960px;
        /* margin: 0 auto;
        padding: 2em 0 2em 0; */
    }
    
    .accordionTitle,
    .accordion__Heading {
        background-color: rgb(231, 152, 138);
        /*text-align: center; */
        text-indent: 3px;
        font-weight: 700;
        padding: 2em;
        display: block;
        text-decoration: none;
        color: #fff;
        -webkit-transition: background-color 0.5s ease-in-out;
        transition: background-color 0.5s ease-in-out;
        border-bottom: 1px solid black;
    }
    
    .accordionTitle:before,
    .accordion__Heading:before {
        content: "+";
        font-size: 1.5em;
        line-height: 0.9em;
        float: left;
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
    }
    
    .accordionTitle:hover,
    .accordion__Heading:hover {
        background-color: rgb(111, 172, 212);
    }
    
    .accordionTitleActive,
    .accordionTitle.is-expanded {
        background-color: rgb(111, 172, 212);
    }
    
    .accordionTitleActive:before,
    .accordionTitle.is-expanded:before {
        -webkit-transform: rotate(-225deg);
        -ms-transform: rotate(-225deg);
        transform: rotate(-225deg);
    }
    
    .accordionItem {
        height: auto;
        overflow: auto;
        max-height: 900px;
        -webkit-transition: max-height 1s;
        transition: max-height 1s;
    }
    
    @media screen and (min-width: 48em) {
        .accordionItem {
            max-height: 900px;
            -webkit-transition: max-height 0.5s;
            transition: max-height 0.5s;
        }
    }
    
    .accordionItem.is-collapsed {
        max-height: 0;
    }
    
    .no-js .accordionItem.is-collapsed {
        max-height: 900px;
    }
    
    .animateIn {
        -webkit-animation: accordionIn 0.65s normal ease-in-out both 1;
        animation: accordionIn 0.65s normal ease-in-out both 1;
    }
    
    .animateOut {
        -webkit-animation: accordionOut 0.75s alternate ease-in-out both 1;
        animation: accordionOut 0.75s alternate ease-in-out both 1;
    }
    
    @-webkit-keyframes accordionIn {
        0% {
            opacity: 0;
            -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
            -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
        }
        100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
    
    @keyframes accordionIn {
        0% {
            opacity: 0;
            -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
            -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
        }
        100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
    
    @-webkit-keyframes accordionOut {
        0% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        100% {
            opacity: 0;
            -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
        }
    }
    
    @keyframes accordionOut {
        0% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        100% {
            opacity: 0;
            -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
        }
    }
    
    p,
    label {
        font: 1rem 'Fira Sans', sans-serif;
    }
    
    input {
        margin: .4rem;
    }
</style>


<div class="container">
    <h1 class="heading-primary">Add Services </h1>
    <div class="accordion">
        <dl>
            <!-- description list -->

            <dt>
            <!-- accordion tab 1 - Delivery and Pickup Options -->
            <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">Service Type</a>
          </dt>


            <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                <p>Add Service Type:</p>
                <div class="ms-3 mb-4 ms-3">
                    <input type="text" class="form-control" placeholder=" Enter Service Type" aria-label="name" aria-describedby="basic-addon1" name="name">
                </div>

            </dd>
            <!--end accordion tab 1 -->

            <dt>
            <!-- accordion tab 2 - Shipping Info -->
            <a href="#accordion2" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger">Add Discription</a>
          </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
                <div class="ms-5" style="padding-top: 20px;">

                    <p class="headings">Add Discription:</p>

                    <textarea class="form-control" aria-label="With textarea" placeholder="Type your Discription"></textarea>

                    <br>

                </div>
            </dd>
            <!-- end accordion tab 2 -->

            <dt>
            <!-- accordion tab 3 - Payment Info -->
            <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">Add Image:</a>
          </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">

                <div class="container-fluid" style="padding-top: 20px;">
                    <p class="headings">Add Image:</p>

                    <input type="file" class="" id="avatar" name="picture" accept="image/png, image/jpg" placeholder="Choose Image">


                    <br>
                </div>
            </dd>


            <!-- end accordion tab 3 -->
            <br>
            <div class="text-center ms-4 mt-2 ">
                <a class="btn btn-warning fa fa-upload text-center" href="#" role="button">Upload Services</a>
                <br>
            </div>
            <br>
        </dl>
        <!-- end description list -->
    </div>
    <!-- end accordion -->
</div>
<!-- end container -->

<SCript>
    //uses classList, setAttribute, and querySelectorAll
    //if you want this to work in IE8/9 youll need to polyfill these
    (function() {
        var d = document,
            accordionToggles = d.querySelectorAll('.js-accordionTrigger'),
            setAria,
            setAccordionAria,
            switchAccordion,
            touchSupported = ('ontouchstart' in window),
            pointerSupported = ('pointerdown' in window);

        skipClickDelay = function(e) {
            e.preventDefault();
            e.target.click();
        }

        setAriaAttr = function(el, ariaType, newProperty) {
            el.setAttribute(ariaType, newProperty);
        };
        setAccordionAria = function(el1, el2, expanded) {
            switch (expanded) {
                case "true":
                    setAriaAttr(el1, 'aria-expanded', 'true');
                    setAriaAttr(el2, 'aria-hidden', 'false');
                    break;
                case "false":
                    setAriaAttr(el1, 'aria-expanded', 'false');
                    setAriaAttr(el2, 'aria-hidden', 'true');
                    break;
                default:
                    break;
            }
        };
        //function
        switchAccordion = function(e) {
            e.preventDefault();
            var thisAnswer = e.target.parentNode.nextElementSibling;
            var thisQuestion = e.target;
            if (thisAnswer.classList.contains('is-collapsed')) {
                setAccordionAria(thisQuestion, thisAnswer, 'true');
            } else {
                setAccordionAria(thisQuestion, thisAnswer, 'false');
            }
            thisQuestion.classList.toggle('is-collapsed');
            thisQuestion.classList.toggle('is-expanded');
            thisAnswer.classList.toggle('is-collapsed');
            thisAnswer.classList.toggle('is-expanded');

            thisAnswer.classList.toggle('animateIn');
        };
        for (var i = 0, len = accordionToggles.length; i < len; i++) {
            if (touchSupported) {
                accordionToggles[i].addEventListener('touchstart', skipClickDelay, false);
            }
            if (pointerSupported) {
                accordionToggles[i].addEventListener('pointerdown', skipClickDelay, false);
            }
            accordionToggles[i].addEventListener('click', switchAccordion, false);
        }
    })();
</SCript>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>


{% endblock %}