{% extends "adminhomebasepage.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

<div class="sales-boxes">

    <div class="recent-sales box">
        <div class="title text-success">Total Food Donations</div><br>
        <div class="sales-details">
            <ul class="details">
                <li class="topic">Name</li>
                {% for i in food %}
                <li>
                    <a href="#">
                        <h6>{{i.user.username}}</h6>
                    </a>
                </li>
                {% endfor %}


            </ul>

            <ul class="details">
                <li class="topic"> Donation Item</li>
                {% for i in food %}
                <li>
                    <a href="#">
                        <h6>{{i.foodType}}</h6>
                    </a>
                </li>
                {% endfor %}


            </ul>
            <ul class="details">
                <li class="topic">Quantity</li>
                {% for i in food %}
                <li>
                    <a href="#">
                        <h6>{{i.foodQuantity}} Persons</h6>
                    </a>
                </li>
                {% endfor %}


            </ul>

            <ul class="details">
                <li class="topic">Donate For</li>
                {% for i in food %}

                <li>
                    <a href="#" class="text-danger">
                        <h6>{{i.FoodRequest.charity.charityName}}</h6>
                    </a>
                </li>
                {% endfor %}

            </ul>


        </div>

    </div>


</div>

<br>

<div class="sales-boxes">

    <div class="recent-sales box">
        <div class="title text-success">Total Clothing Donations</div><br>
        <div class="sales-details">
            <ul class="details">
                <li class="topic">Name</li>
                {% for i in clothing %}
                <li>
                    <a href="#">
                        <h6>{{i.user.username}}</h6>
                    </a>
                </li>
                {% endfor %}


            </ul>

            <ul class="details">
                <li class="topic"> Donation Item</li>
                {% for i in clothing %}
                <li>
                    <a href="#">
                        <h6>{{i.clothingType}}</h6>
                    </a>
                </li>
                {% endfor %}


            </ul>
            <ul class="details">
                <li class="topic">Quantity</li>
                {% for i in clothing %}
                <li>
                    <a href="#">
                        <h6>{{i.clothingQuantity}}</h6>
                    </a>
                </li>
                {% endfor %}


            </ul>

            <ul class="details">
                <li class="topic">Donate For</li>
                {% for i in clothing %}

                <li>
                    <a href="#" class="text-danger">
                        <h6>{{i.clothingRequest.charity.charityName}}</h6>
                    </a>
                </li>
                {% endfor %}

            </ul>


        </div>

    </div>


</div>
<br>
<div class="sales-boxes">

    <div class="recent-sales box">
        <div class="title text-success">Total Medicine Donations</div><br>
        <div class="sales-details">
            <ul class="details">
                <li class="topic">Name</li>
                {% for i in medicine %}
                <li>
                    <a href="#">
                        <h6>{{i.user.username}}</h6>
                    </a>
                </li>
                {% endfor %}


            </ul>

            <ul class="details">
                <li class="topic"> Donation Item</li>
                {% for i in medicine %}
                <li>
                    <a href="#">
                        <h6>{{i.medicineType}}</h6>
                    </a>
                </li>
                {% endfor %}


            </ul>
            <ul class="details">
                <li class="topic">Quantity</li>
                {% for i in medicine %}
                <li>
                    <a href="#">
                        <h6>{{i.medicineQuantity}}</h6>
                    </a>
                </li>
                {% endfor %}


            </ul>

            <ul class="details">
                <li class="topic">Donate For</li>
                {% for i in medicine %}

                <li>
                    <a href="#" class="text-danger">
                        <h6>{{i.medicineRequest.charity.charityName}}</h6>
                    </a>
                </li>
                {% endfor %}

            </ul>


        </div>

    </div>


</div>
<br>
<div class="sales-boxes">

    <div class="recent-sales box">
        <div class="title text-success">Total Study Material Donations</div><br>
        <div class="sales-details">
            <ul class="details">
                <li class="topic">Name</li>
                {% for i in studymaterial %}
                <li>
                    <a href="#">
                        <h6>{{i.user.username}}</h6>
                    </a>
                </li>
                {% endfor %}


            </ul>

            <ul class="details">
                <li class="topic"> Donation Item</li>
                {% for i in studymaterial %}
                <li>
                    <a href="#">
                        <h6>{{i.studyMaterialType}}</h6>
                    </a>
                </li>
                {% endfor %}


            </ul>
            <ul class="details">
                <li class="topic">Quantity</li>
                {% for i in studymaterial %}
                <li>
                    <a href="#">
                        <h6>{{i.studyMaterialQuantity}}</h6>
                    </a>
                </li>
                {% endfor %}


            </ul>

            <ul class="details">
                <li class="topic">Donate For</li>
                {% for i in studymaterial %}

                <li>
                    <a href="#" class="text-danger">
                        <h6>{{i.studyMaterialRequest.charity.charityName}}</h6>
                    </a>
                </li>
                {% endfor %}

            </ul>


        </div>

    </div>


</div>
<br>
<div class="sales-boxes">

    <div class="recent-sales box">
        <div class="title text-success">Total Other Donations</div><br>
        <div class="sales-details">
            <ul class="details">
                <li class="topic">Name</li>
                {% for i in other %}
                <li>
                    <a href="#">
                        <h6>{{i.user.username}}</h6>
                    </a>
                </li>
                {% endfor %}


            </ul>

            <ul class="details">
                <li class="topic"> Donation Item</li>
                {% for i in other %}
                <li><a href="#">{{i.otherType}}</a></li>
                {% endfor %}


            </ul>
            <ul class="details">
                <li class="topic">Quantity</li>
                {% for i in other %}
                <li>
                    <a href="#">
                        <h6>{{i.otherQuantity}}</h6>
                    </a>
                </li>
                {% endfor %}


            </ul>

            <ul class="details">
                <li class="topic">Donate For</li>
                {% for i in other %}

                <li>
                    <a href="#" class="text-danger">
                        <h6>{{i.otherRequest.charity.charityName}}</h6>
                    </a>
                </li>
                {% endfor %}

            </ul>


        </div>

    </div>


</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>


{% endblock %}