table {
    border-collapse: collapse;
    width: 300px;
    height: 400px;
    border: 1px solid black;
    text-align: center;
}

button {
    border-style: none;
    background-color: inherit;
}

input {
    width: 280px;
    height: 40px;
}