{% extends "userhomebasepage.html" %} {% block content %} {% load static %}


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<style>
    body {
        background: white;
    }
    
    .wrapper {
        padding: 40px;
    }
    
    .image--cover {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center left;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li {
        font-family: "Oswald"
    }
    
    #box {
        border-radius: 0px 50px 0px 50px;
        box-shadow: 4px 4px rgb(161, 156, 156);
        border-style: groove;
    }
    
    .slide-content {
        margin: 8px;
        width: 250px;
        height: 140px;
        background-color: lightgray;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        border-style: groove;
    }
    
    img {
        width: 100%;
    }
    
    .slid-er {
        height: 156px;
        /* slide-content height + 2*margin */
        margin: auto;
        overflow: hidden;
        width: 100%;
    }
    
    .slid-er .slides {
        display: flex;
    }
    
    .slid-er .slide {
        width: 258px;
        /* slide-content width + margin */
    }
    
    .button-container {
        position: absolute;
        top: 0;
        height: 100%;
        width: 150%;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
        transition: opacity 0.25s;
    }
    
    .button-container:hover {
        opacity: 1;
        text-decoration: none;
    }
    
    .button-container:hover .button {
        transform: translate(-50%, -50%);
    }
    
    .button {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, calc(-50% + 12px));
        background-color: rgba(0, 0, 0, 0.7);
        transition: all 0.25s;
        padding: 0 8px;
        border-radius: 12px;
        color: white;
        outline: 2px solid transparent;
    }
    
    .button:after {
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
        margin: 0 3px 0 5px;
        filter: invert(1);
    }
    
    .button:hover {
        background-color: rgba(0, 0, 0, 0.9);
        outline: 2px solid gray;
    }
    
    #link {
        text-decoration: none;
        color: aliceblue;
    }
    
    .content {
        color: rgb(176, 76, 76);
        font-size: larger;
    }
</style>





<div class="mt-3 p-0 bg-text-white text-center " id="">

    <div id="myBtnContainer">
        <a class="btn btn-success   text-center" href="userdonationsreq" role="button">Show All </a>
        <a class="btn btn-success  text-center" href="userfoodreq" role="button">Food</a>
        <a class="btn btn-success  text-center" href="userclothingreq" role="button">Clothing</a>
        <a class="btn btn-success active text-center" href="usermedicinesreq" role="button">Medicines</a>
        <a class="btn btn-success  text-center" href="userstudymeterialsreq" role="button">Study Meterials</a>
        <a class="btn btn-success  text-center" href="userotherreq" role="button">Others</a>
    </div>
    <div class="container mt-4">
        <div class="slid-er">
            <div class="slides" id="slides">

                <div class="slide">
                    <div class="slide-content">
                        <a href="https://www.pinterest.com/pin/42502790224869685/" target="_blank">
                            <img src="../static/images/foodreqimg.jpg" loading="lazy" />
                            <div class="button-container">
                                <a href="userfoodreq" class="button" id="link">Food</a>

                            </div>
                        </a>

                    </div>

                </div>

                <div class="slide">
                    <div class="slide-content">
                        <a href="https://www.pinterest.com/pin/15833036179887216/" target="_blank">
                            <img src="../static/images/clothingreqimg.jpg" loading="lazy" />
                            <div class="button-container">
                                <a href="userclothingreq" class="button" id="link">Clothing</a>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-content">
                        <a href="https://www.pinterest.com/pin/125045327144436605/" target="_blank">
                            <img src="../static/images/medicinereqimg.jpg" loading="lazy" />
                            <div class="button-container">
                                <a href="usermedicinesreq" class="button" id="link">Medicine</a>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-content">
                        <a href="https://www.pinterest.com/pin/413909022012674906/?mt=login" target="_blank">
                            <img src="../static/images/studymaterialreqimg.jpg" loading="lazy" />
                            <div class="button-container">
                                <a href="userstudymeterialsreq" class="button" id="link">Study Material</a>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-content">
                        <a href="https://www.pinterest.com/pin/amelie-poulain-audrey-tautou--407857309977538667/" target="_blank">
                            <img src="../static/images/oherreqimg.jpg" loading="lazy" />
                            <div class="button-container">
                                <a href="userotherreq" class="button" id="link">Other</a>

                            </div>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <br>
    <hr style="border: 1px solid red;">
</div>
<br>
<div class="container text-center bg-danger text-white">
    <h3>Medicine Donation Requests</h3>
</div>
<br>
<div class="text-center">
    <h1>{{message}}</h1>
</div>

{% for i in data %}


<div class="container mt-5  bg-light" id="box">

    <div class="row wrapper">

        <div class="col-sm-2 pt-5 text-center">
            <img src="/media/{{i.charity.picture}}" class="image--cover">
        </div>


        <div class="col-sm-10 ">

            <h4>{{i.charity.charityName}}</h4>

            <ul>
                <p>
                    <i style="color: chocolate;" class="fa fa-address-card"></i> {{i.charity.address}}
                </p>
                <p>
                    <i style="color: chocolate;" class="fa fa-sticky-note"></i> {{i.medicineDiscription}}
                </p>
                </p>

                <p>
                    <i style="color: chocolate;" class="fa fa-handshake-o"></i><b>Expected For:</b><span>{{i.medicineExpectedItem}} </span>
                </p>

                <p>
                    <i style="color: chocolate;" class="fa fa-balance-scale"></i><b> Quantity:</b><span>  {{i.medicineQuantity}} Number Of Person's</span>
                </p>



                <div class="text-start ms-4 mt-2 ">
                    <a class="btn btn-warning fa fa-handshake text-center" href="usermedicineacceptreq/{{i.id}}" role="button">Accept Request</a>
                    <a class="btn btn-info fa fa-phone text-center" href="#" role="button">{{i.charity.phoneNumber}}</a>
                    <a class="btn btn-success fa fa-whatsapp text-center" href="#" role="button">8089652533</a>
                </div>

            </ul>
        </div>

    </div>
</div>

{% endfor %}






<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>



{% endblock %}