{% extends "userhomebasepage.html" %} {% block content %} {% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
    body {
        background-color: white;
    }
    
    .dropdown-list-image {
        position: relative;
        height: 2.5rem;
        width: 2.5rem;
    }
    
    .dropdown-list-image img {
        height: 2.5rem;
        width: 2.5rem;
    }
    
    .btn-light {
        color: #2cdd9b;
        background-color: #e5f7f0;
        border-color: #d8f7eb;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    b,
    li {
        font-family: "Oswald"
    }
    
    #box {
        border-radius: 10px 10px 10px 10px;
        box-shadow: 4px 3px rgb(161, 156, 156);
        border-style: groove;
        background-color: rgb(247, 241, 241);
    }
</style>




<br>
<div class="container text-center bg-success text-white mb-5">
    <h1>Notification</h1>
</div>



<div class="container">


    {% for i in foodacceptnotification %}
    <!--  -->
    {% if i.user.id == request.session.usersession_name %}


    <div class="text-center">
        <h1>{{message}}</h1>
    </div>

    <div class="row">
        <div class="box shadow-sm rounded bg-white mb-3">

            <div class="box-title border-bottom p-3">
                <h6 class="m-0 text-danger "> Donation Notification</h6>
            </div>



            <div class="box-body" id="box">

                <div class="p-3 d-flex align-items-center ">

                    <div class="dropdown-list-image ms-2 mr-3 ">
                        <img class="rounded-circle " src="/media/{{i.FoodRequest.charity.picture}} " alt=" " />
                    </div>
                    <div class="font-weight-bold mr-3 ms-5 ">
                        <div class="text-truncate "><b>{{i.FoodRequest.charity.charityName}}</b></div>
                        <div class="small "> Accepted For Your {{i.foodType }} Donation</div>

                    </div>



                </div>


            </div>
        </div>

    </div>
    {% endif %}{% endfor %}
    <br>
    <!--  -->
    {% for i in clothingacceptnotification %}
    <!--  -->
    {% if i.user.id == request.session.usersession_name %}


    <div class="row ">
        <div class="box shadow-sm rounded bg-white mb-3 ">

            <div class="box-title border-bottom p-3 ">
                <h6 class="m-0 text-danger "> Donation Notification</h6>
            </div>



            <div class="box-body p-0 " id="box">

                <div class="p-3 d-flex align-items-center border-bottom osahan-post-header ">

                    <div class="dropdown-list-image ms-2 mr-3 ">
                        <img class="rounded-circle " src="/media/{{i.clothingRequest.charity.picture}} " alt=" " />
                    </div>
                    <div class="font-weight-bold mr-3 ms-5 ">
                        <div class="text-truncate "><b>{{i.clothingRequest.charity.charityName}}</b></div>
                        <div class="small ">Accepted For Your {{i.clothingType }} Donation</div>

                    </div>



                </div>


            </div>
        </div>

    </div>
    {% endif %}{% endfor %}
    <br>
    <!--  -->
    {% for i in medicineacceptnotificaton %}
    <!--  -->
    {% if i.user.id == request.session.usersession_name %}

    <div class="row ">
        <div class="box shadow-sm rounded bg-white mb-3 ">

            <div class="box-title border-bottom p-3 ">
                <h6 class="m-0 text-danger "> Donation Notification</h6>
            </div>



            <div class="box-body p-0" id="box">

                <div class="p-3 d-flex align-items-center border-bottom osahan-post-header ">

                    <div class="dropdown-list-image ms-2 mr-3 ">
                        <img class="rounded-circle " src="/media/{{i.medicineRequest.charity.picture}} " alt=" " />
                    </div>
                    <div class="font-weight-bold mr-3 ms-5 ">
                        <div class="text-truncate "><b>{{i.medicineRequest.charity.charityName}}</b></div>
                        <div class="small ">Accepted For Your {{i.clothingType }} Donation</div>

                    </div>



                </div>


            </div>
        </div>

    </div>
    {% endif %}{% endfor %}
    <br> {% for i in studymaterialacceptnotification %}
    <!--  -->
    {% if i.user.id == request.session.usersession_name %}

    <div class="row ">
        <div class="box shadow-sm rounded bg-white mb-3 ">

            <div class="box-title border-bottom p-3 ">
                <h6 class="m-0 text-danger "> Donation Notification</h6>
            </div>



            <div class="box-body p-0" id="box">

                <div class="p-3 d-flex align-items-center border-bottom osahan-post-header ">

                    <div class="dropdown-list-image ms-2 mr-3 ">
                        <img class="rounded-circle " src="/media/{{i.studyMaterialRequest.charity.picture}} " alt=" " />
                    </div>
                    <div class="font-weight-bold mr-3 ms-5 ">
                        <div class="text-truncate "><b>{{i.studyMaterialRequest.charity.charityName}}</b></div>
                        <div class="small ">Accepted For Your {{i.studyMaterialType }} Donation</div>

                    </div>



                </div>


            </div>
        </div>

    </div>
    {% endif %}{% endfor %}
    <br> {% for i in otheracceptnotification %}
    <!--  -->
    {% if i.user.id == request.session.usersession_name %}

    <div class="row ">
        <div class="box shadow-sm rounded bg-white mb-3 ">

            <div class="box-title border-bottom p-3 ">
                <h6 class="m-0 text-danger "> Donation Notification</h6>
            </div>



            <div class="box-body p-0" id="box">

                <div class="p-3 d-flex align-items-center border-bottom osahan-post-header ">

                    <div class="dropdown-list-image ms-2 mr-3 ">
                        <img class="rounded-circle " src="/media/{{i.otherRequest.charity.picture}} " alt=" " />
                    </div>
                    <div class="font-weight-bold mr-3 ms-5 ">
                        <div class="text-truncate "><b>{{i.otherRequest.charity.charityName}}</b></div>
                        <div class="small ">Accepted For Your {{i.otherType }} Donation</div>

                    </div>



                </div>


            </div>
        </div>

    </div>
    {% endif %}{% endfor %}









    <br> {% for i in foodcollectdonation %}

    <!--  -->

    {% if i.user.id == request.session.usersession_name %}

    <div class="row">
        <div class="box shadow-sm rounded bg-white mb-3">

            <div class="box-title border-bottom p-3 ">
                <h6 class="m-0 text-danger "> Donation Collected Notification</h6>
            </div>


            <div class="box-body" id="box">

                <div class="p-3 d-flex align-items-center ">

                    <div class="dropdown-list-image ms-2 mr-3 ">
                        <img class="rounded-circle " src="/media/{{i.FoodRequest.charity.picture}} " alt=" " />
                    </div>
                    <div class="font-weight-bold mr-3 ms-5 ">
                        <div class="text-truncate "><b>{{i.FoodRequest.charity.charityName}}</b></div>
                        <div class="small "> Collected For Your {{i.foodType }} Donation</div>

                    </div>



                </div>


            </div>
        </div>

    </div>
    {% endif %}{% endfor %}
    <br>
    <!--  -->



    {% for i in clothingcollectdonation %}
    <!--  -->
    {% if i.user.id == request.session.usersession_name %}


    <div class="row ">
        <div class="box shadow-sm rounded bg-white mb-3 ">

            <div class="box-title border-bottom p-3 ">
                <h6 class="m-0 text-danger "> Donation Collected Notification</h6>
            </div>

            <div class="box-body p-0 " id="box">

                <div class="p-3 d-flex align-items-center border-bottom osahan-post-header ">

                    <div class="dropdown-list-image ms-2 mr-3 ">
                        <img class="rounded-circle " src="/media/{{i.clothingRequest.charity.picture}} " alt=" " />
                    </div>
                    <div class="font-weight-bold mr-3 ms-5 ">
                        <div class="text-truncate "><b>{{i.clothingRequest.charity.charityName}}</b></div>
                        <div class="small ">Collected For Your {{i.clothingType }} Donation</div>

                    </div>



                </div>


            </div>
        </div>

    </div>
    {% endif %}{% endfor %}
    <br>
    <!--  -->




    {% for i in medicinecollectdonation %}
    <!--  -->
    {% if i.user.id == request.session.usersession_name %}

    <div class="row">
        <div class="box shadow-sm rounded bg-white mb-3">

            <div class="box-title border-bottom p-3 ">
                <h6 class="m-0 text-danger "> Donation Collected Notification</h6>
            </div>


            <div class="box-body p-0" id="box">

                <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">

                    <div class="dropdown-list-image ms-2 mr-3 ">
                        <img class="rounded-circle " src="/media/{{i.medicineRequest.charity.picture}}" alt=" " />
                    </div>
                    <div class="font-weight-bold mr-3 ms-5 ">
                        <div class="text-truncate "><b>{{i.medicineRequest.charity.charityName}}</b></div>
                        <div class="small ">Collected For Your {{i.clothingType }} Donation</div>

                    </div>



                </div>


            </div>
        </div>

    </div>
    {% endif %}{% endfor %}




    <br> {% for i in studymaterialcollectdonation %}
    <!--  -->
    {% if i.user.id == request.session.usersession_name %}

    <div class="row ">
        <div class="box shadow-sm rounded bg-white mb-3 ">

            <div class="box-title border-bottom p-3 ">
                <h6 class="m-0 text-danger "> Donation Collected Notification</h6>
            </div>

            <div class="box-body p-0" id="box">

                <div class="p-3 d-flex align-items-center border-bottom osahan-post-header ">

                    <div class="dropdown-list-image ms-2 mr-3 ">
                        <img class="rounded-circle " src="/media/{{i.studyMaterialRequest.charity.picture}} " alt=" " />
                    </div>
                    <div class="font-weight-bold mr-3 ms-5 ">
                        <div class="text-truncate "><b>{{i.studyMaterialRequest.charity.charityName}}</b></div>
                        <div class="small ">Collected For Your {{i.studyMaterialType }} Donation</div>

                    </div>



                </div>


            </div>
        </div>

    </div>
    {% endif %}{% endfor %}



    <br> {% for i in othercollectdonation %}
    <!--  -->
    {% if i.user.id == request.session.usersession_name %}

    <div class="row ">
        <div class="box shadow-sm rounded bg-white mb-3 ">

            <div class="box-title border-bottom p-3 ">
                <h6 class="m-0 text-danger "> Donation Collected Notification</h6>
            </div>


            <div class="box-body p-0" id="box">

                <div class="p-3 d-flex align-items-center border-bottom osahan-post-header ">

                    <div class="dropdown-list-image ms-2 mr-3 ">
                        <img class="rounded-circle " src="/media/{{i.otherRequest.charity.picture}} " alt=" " />
                    </div>
                    <div class="font-weight-bold mr-3 ms-5 ">
                        <div class="text-truncate "><b>{{i.otherRequest.charity.charityName}}</b></div>
                        <div class="small ">Collected For Your {{i.otherType }} Donation</div>

                    </div>



                </div>


            </div>
        </div>

    </div>
    {% endif %}{% endfor %}

</div>





<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js " integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB " crossorigin="anonymous "></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js " integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 " crossorigin="anonymous "></script>
{% endblock %}